body {  


  font-family: helvetica, sans-serif;  

  margin: 0 auto;  


}  

  

header {  

      background: url('https://i.imgur.com/qqO99cT.jpg');  

      background-size: cover;  

      color: white;  
      text-align: centre;
  height: 400px;

    }  
nav {  
  
     border-bottom: 1px solid black;
  margin: 0px;
    }  
  

    .menu a {  

      color: white;  


    }  
.menu a:visited{

text-decoration: none;
  color:white;
}
.menu a:hover{

  color:red;
  
}
  

    .menu ul {  

  

    

  

      background: rgba(211,150,255,0.9);  

  

    }  

  

    .menu li {  

  


  

      padding: 0px 10px 0px 10px;  

  

    }  

  

    article {  

  

      max-width: 500px;  

  

      padding: 20px;  

  

      margin: 0 auto;  

  

    }  

  

  

  

     input {  

  

      border: 0;  

  

      padding: 10px;  

  

      font-size: 18px;  

  

    }  

  

    input[type="submit"] {  

  

      background: red;  

  

      color: white;  

  

    }  

  

  
