 

    header {  

  

      text-align: center;  

  

      background: url('https://i.imgur.com/qqO99cT.jpg');  

  

      background-size: cover;  

  

      color: white;  

  

    }  

  

    a {  

  

      color: white;  

  

    }  

  

      

  

      

  

    img {  

  

        

  

    }  

  

    ul {  

  

      padding: 10px;  

  

      background: rgba(211,150,255,0.9);  

  

    }  

  

    li {  

  

      display: inline;  

  

      padding: 0px 10px 0px 10px;  

  

    }  

  

    article {  

  

      max-width: 500px;  

  

      padding: 20px;  

  

      margin: 0 auto;  

  

    }  

  

    @media (max-width: 500px) {  

  

      h1 {  

  

        font-size: 30px;  

  

        padding: 5px;  

  

      }  

  

      li {  

  

        padding: 5px;  

  

        display: block;  

  

      }  

  

        

  

      img{  

  

        max-width: 220px;  

  

        height: 120px;  

  

        }  

  

    }  

  

     input {  

  

      border: 0;  

  

      padding: 10px;  

  

      font-size: 18px;  

  

    }  

  

    input[type="submit"] {  

  

      background: red;  

  

      color: white;  

  

    }  

  

   

  
